.header {
	display: flex;

	padding-top: 26px;
	padding-right: 10px;
	padding-bottom: 22px;
	padding-left: 10px;

	border-bottom: 1px solid $border-color;

	@media screen and (min-width: $bp-mobile-to-tablet) {
		padding-right: 30px;
		padding-left: 30px;
	}

	&__logo-link {
		margin-right: auto;

		@extend .no-select;
	}

	&__logo {
		display: block;

		@extend .no-select;
	}

	&__button-list {
		display: flex;
		align-items: flex-end;
		gap: 26px;

		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	&__button-wrapper {
		&_type_cart {
			width: 30.5px;
			margin-bottom: 1px;
		}

		@media screen and (min-width: $bp-tablet-to-desktop) {
			&_type_burger {
				display: none;
			}
		}
	}

	&__button {
		transition: opacity $default-transition-duration $default-transition-function;

		opacity: 1;

		&:hover {
			transition: none;

			opacity: $default-hover-opacity;
		}
	}

	&__cart-counter {
		top: -6px;
		left: 17px;
	}
}
