.badge {
	position: absolute;

	display: block;

	width: 13px;
	height: 13px;

	text-align: center;

	border-radius: 50%;

	font-family: 'Roboto';
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;

	&_type_notification {
		color: #ffffff;
		background-color: $primary-color;
	}
}
