.badge {
	position: absolute;

	display: block;

	width: 13px;
	height: 13px;

	text-align: center;

	border-radius: 13px;

	font-family: 'Roboto';
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;

	&_type_notification {
		color: #ffffff;
		background-color: $primary-color;
	}

	&_hidden {
		display: none;
	}

	&_digit_multi {
		width: min-content;
		min-width: 13px;
		padding: 0 3px;
	}
}
