.button {
	display: block;

	padding: 12px 29px 11px;

	cursor: pointer;

	color: #000000;
	border: 1px solid $border-color;
	border-radius: 3px;
	background-color: #ffffff;

	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;

	@extend .transition-active;

	&:hover {
		transition: none;

		color: rgba(#000000, 0.8);
		background-color: rgba(#000000, 0.2);
	}

	&:active {
		background-color: rgba(#000000, 0.3);
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid $primary-color;
		outline-offset: 2px;
	}

	&_filled {
		color: #ffffff;
		border-color: $primary-color;
		background-color: $primary-color;

		&:hover {
			color: #ffffff;
			background-color: rgba($primary-color, 0.7);
		}

		&:active {
			background-color: rgba($primary-color, 0.8);
		}
	}
}
