.pay-methods {
	display: flex;

	&__legend {
		display: block;
	}

	&__control {
		&_type_pay-pal {
			margin-left: 23px;
		}
	}

	&__label-control {
		&_type_pay-pal {
			margin-left: 13px;
		}
	}
}
