.terms {
	display: flex;
	gap: 12px;
	flex-direction: column;

	&__legend {
		display: block;
	}

	&__label {
		margin-left: 8px;

		color: #8c8c8c;
	}

	&__link {
		@extend .animated;

		text-decoration: none;

		color: #000000;

		&:hover {
			color: $primary-color;
		}

		&:visited {
			color: #6b32ff;
		}
	}
}
