.pay-stages {
	display: flex;
	overflow: hidden;
	justify-content: space-between;
	flex-wrap: nowrap;

	&__content {
		position: relative;

		&::before {
			position: absolute;
			z-index: -1;
			top: 9px;
			left: calc(-100vw + 50%);

			width: 100vw;
			height: 1px;

			content: '';

			background-color: transparent;
		}

		&:first-child {
			&::before {
				z-index: -1;

				background-color: #ffffff;
			}
		}

		&_status_ready {
			&::before {
				z-index: -2;

				background-color: $primary-color;
			}
		}

		&_status_processed {
			&::before {
				z-index: -2;

				background-color: $primary-color;
			}
		}

		&_status_upcoming {
			&::before {
				z-index: -3;

				background-color: $secondary-color;
			}
		}
	}

	&__number {
		position: relative;

		display: block;

		box-sizing: border-box;
		width: 18px;
		height: 18px;
		margin: 0 auto;

		text-align: center;
		letter-spacing: 0.2px;

		color: #ffffff;
		border: 1px solid $primary-color;
		border-radius: 50%;
		background-color: $primary-color;

		font-size: 10px;
		font-weight: 500;
		line-height: 16px;

		@extend .no-select;

		&_status_processed {
			color: #000000;
			background-color: #ffffff;
		}

		&_status_upcoming {
			color: $secondary-color;
			border-color: $secondary-color;
			background-color: #ffffff;
		}
	}

	&__text {
		display: block;

		margin-top: 10px;

		color: #000000;

		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
	}
}
