.payment-section {
	flex-grow: 1;

	padding-top: 60px;

	&__form {
		margin: 60px 0 30px;
	}

	@media only screen and (min-width: $bp-mobile-to-tablet) {
		&__stages {
			margin-right: 66px;
			margin-left: 63px;
		}

		&__form {
			margin: 60px 50px 40px;
		}
	}

	@media only screen and (min-width: $bp-tablet-to-desktop) {
		&__form {
			display: flex;
			justify-content: center;

			margin-right: 80px;
		}
	}
}
