.billing {
	&__title {
		letter-spacing: 0.1px;

		color: #000000;

		font-family: 'Roboto';
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
	}

	&__pay-controls {
		display: flex;

		margin-top: 18px;
	}

	&__pay-control {
		&_type_pay-pal {
			margin-left: 23px;
		}
	}

	&__label-pay-control {
		&_type_pay-pal {
			margin-left: 13px;
		}
	}
}
