.tooltip {
	display: block;
	visibility: hidden;

	min-width: 200px;
	max-width: 300px;
	padding: 10px;

	transition: visibility 0s linear $default-transition-duration,
		opacity $default-transition-duration;
	text-align: left;

	opacity: 0;
	color: #000000;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 6px rgba(#000000, 0.5);

	font-size: 12px;
	font-weight: 400;
	line-height: 13px;

	&_visibility_shown {
		visibility: visible;

		transition: none;

		opacity: 1;

		::after {
			position: fixed;
			top: 0;
			left: 0;

			width: 100vw;
			height: 100vh;

			content: '';
		}
	}

	&_place_top {
		top: -10px;
		left: calc(50% + 15px);

		transform: translate(-50%, -100%);
	}
}
