$primary-color: #3366ff;
$secondary-color: #d5d5d5;
$border-color: #cfcfcf;

$default-hover-opacity: 0.6;
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$bp-mobile-to-tablet: 600px;
