.pay-form {
	max-width: 638px;

	&__title {
		@extend .title;
	}

	&__pay-methods-wrapper {
		margin-top: 14px;
	}

	&__credit-card-wrapper {
		margin-top: 15px;
	}

	&__terms-wrapper {
		margin-top: 36px;
	}

	&__control-buttons {
		display: flex;
		justify-content: space-between;

		max-width: 490px;
		margin-top: 43px;
	}

	&__check-out-button {
		padding: 12px 29px 11px 28px;
	}

	@media only screen and (min-width: $bp-mobile-to-tablet) {
		&__title {
			margin-left: 30px;
		}

		&__pay-methods-wrapper {
			margin-top: 34px;
			margin-left: 30px;
		}

		&__credit-card-wrapper {
			margin-top: 36px;
		}

		&__terms-wrapper {
			margin-top: 40px;
			margin-left: 30px;
		}

		&__control-buttons {
			max-width: 100%;
			margin-top: 40px;
			margin-left: 30px;
		}
	}

	@media only screen and (min-width: $bp-tablet-to-desktop) {
		min-width: 660px;
	}
}
