.pay-form {
	max-width: 638px;

	&__title {
		letter-spacing: 0.1px;

		color: #000000;

		font-family: 'Roboto';
		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
	}

	&__pay-methods-wrapper {
		margin-top: 18px;
	}

	&__credit-card-wrapper {
		margin-top: 19px;
	}

	&__terms-wrapper {
		margin-top: 36px;
	}

	&__control-buttons {
		display: flex;
		justify-content: space-between;

		margin-top: 43px;
	}

	&__check-out-button {
		padding: 12px 31px 11px 30px;
	}

	@media only screen and (min-width: $bp-mobile-to-tablet) {
		&__title {
			margin-left: 30px;
		}

		&__pay-methods-wrapper {
			margin-top: 38px;
			margin-left: 30px;
		}

		&__credit-card-wrapper {
			margin-top: 40px;
		}

		&__terms-wrapper {
			margin-top: 40px;
			margin-left: 30px;
		}

		&__control-buttons {
			margin-top: 40px;
			margin-left: 30px;
		}
	}
}
