.link {
	@extend .animated;

	text-decoration: none;

	color: #000000;

	&:hover {
		color: $primary-color;
	}

	&:visited {
		color: #6b32ff;
	}

	&:focus-visible {
		outline: 2px solid $primary-color;
		outline-offset: 1px;
	}
}
